<div class="footer-container">
  <div class="foot">
    <a href="/toolow" class="logo-f">TooLowForComfort</a>
    <a href="/toolow" class="est-f"><span class="est-f">est. 2019</span></a>
  </div>
  <footer>
    <ul class="footer-list">
      <li class="footer-list-tab click-tab"><a href="/toolow/about" class="footer-list-tab click-tab">About</a></li>
      <li class="footer-list-tab">|</li>
      <li class="footer-list-tab click-tab"><a href="/toolow/contact" class="footer-list-tab click-tab">Contact Us</a></li>
      <li class="footer-list-tab">|</li>
      <li class="footer-list-tab">
        <a href="https://www.instagram.com/toolowforcomfort/"><ion-icon name="logo-instagram" class="icon"></ion-icon></a>
        <a href="https://www.facebook.com/toolowforcomfort.toolowforcomfort.5"><ion-icon name="logo-facebook" class="icon"></ion-icon></a>
      </li>
    </ul>
  </footer>
</div>
  <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
  <script src="/script.js" charset="utf-8"></script>
