<div class="foot">
  <a href="/toolow" class="logo-f">TooLowForComfort</a>
  <a href="/toolow" class="est-f"><span class="est-f">est. 2019</span></a>
</div>
<footer>
  <ul class="footer-list">
    <li class="footer-list-tab click-tab"><a href="#" class="footer-list-tab click-tab">About</a></li>
    <li class="footer-list-tab">|</li>
    <li class="footer-list-tab click-tab"><a href="#" class="footer-list-tab click-tab">Contact Us</a></li>
    <li class="footer-list-tab">|</li>
    <li class="footer-list-tab click-tab"><a href="#" class="footer-list-tab click-tab">Social Media</a></li>
  </ul>
</footer>
