<nav>
  <ul class="home-tabs">
    <div class="home-bar">
    <li><a href="/toolow" class="home-tab">Home</a></li>
    <li><a href="/toolow/forum" class="home-tab">Blog</a></li>
    <li><a href="/toolow/new" class="home-tab">Add Post</a></li>
    </div>
  </ul>
  <ul class="nav-list">
    <div class="nav-bar">
    <% if (currentUser) { %>
    <li class="nav-item">Welcome <%= currentUser.username %></li>
    <li class="nav-item">
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" class="logout-btn"/>
      </form>
    </li>
    <% } else { %>
    <li><a href="/users/new" class="nav-item">Sign Up</a></li>
    <li><a href="/sessions/new" class="nav-item">Log In</a></li>
    <% } %>
    </div>
  </ul>
</nav>
