<div class="sidebar">
  <div class="brands">
    <a href="https://www.workwheelsusa.com/"><img src="https://workwheelsusa.com/wp-content/uploads/2016/03/logo.png" class="work brand-logo"></img></a>
    <a href="http://www.rotiform.com/"><img src="https://images.iconfigurators.app/images/websites/logos/logo-lo-res_4121.png" class="rotiform brand-logo"></img></a>
    <a href="https://bbs.com/en/"><img src="https://bbs.com/templates/standard/images/logo_bbs.png.pagespeed.ce.LT6xY6ZZSN.png" class="bbs brand-logo"></img></a>
    <a href="https://www.ssr-wheels.com/"><img src="https://www.vertex-usa.com/media/catalog/category/SSR_LOGO_2.jpg" class="ssr brand-logo"></img></a>
    <a href="https://www.airliftperformance.com/"><img src="https://shop-uwa.com/site/wp-content/uploads/2014/02/ALP-Logo-No-Hold-2C-TM.png" class="airlift brand-logo"></img></a>
    <a href="https://326powerusa.com/"><img src="https://cdn.shopify.com/s/files/1/0274/0584/4585/files/326Power_USA_Logo_PNG_600x.png?v=1587517980" class="326power brand-logo"></img></a>
    <a href="https://fortune-auto.com/"><img src="https://fortune-auto.com/wp-content/uploads/2019/03/FALogo.png" class="fortuneauto brand-logo"></img></a>
    <a href="https://www.bcracing-na.com/"><img src="https://www.iraceautosports.com/wp-content/uploads/2018/06/bc-racing-logo-min-300x95.jpg" class="bcracing brand-logo"></img></a>
  </div>
  <div class="social-links">
    <a href="https://www.instagram.com/toolowforcomfort/"><ion-icon name="logo-instagram" class="ion-icon"></ion-icon></a>
    <a href="https://www.facebook.com/toolowforcomfort.toolowforcomfort.5"><ion-icon name="logo-facebook" class="ion-icon"></ion-icon></a>
  </div>
</div>
