<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- ===========HEAD============= -->
<%- include ('../partials/head.ejs') %>
<!-- ============================ -->
  <body>
    <!-- ==========NAV========== -->
      <%- include ('../partials/nav.ejs') %>
    <!-- ========================== -->
    <!-- ==========HEADER========== -->
      <%- include ('../partials/header.ejs') %>
    <!-- ========================== -->
    <div class="container-new">
      <div class="user">
      <h1 class="user-title">Log In</h1>
      <form action="/sessions" method="POST" class="inputs">
        <input class="username" type="text" name="username" required placeholder="Username"/>
        <input class="password" type="password" name="password" placeholder="Password"/>
        <input type="submit" value="Log In" class="submit">
      </form>
      <br/>
      <a href="/users/new" class="dont-have">Don't have an Account?</a>
      </div>
    </div>
    <!-- ==========FOOTER========== -->
      <%- include ('../partials/footer.ejs') %>
    <!-- ========================== -->
  </body>
</html>
