<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- ===========HEAD============= -->
<%- include ('../partials/head.ejs') %>
<!-- ============================ -->
  <body>
    <!-- ==========NAV========== -->
      <%- include ('../partials/nav.ejs') %>
    <!-- ========================== -->
    <!-- ==========HEADER========== -->
      <%- include ('../partials/header.ejs') %>
    <!-- ========================== -->
    <div class="container-new">
      <div class="user">
      <h1 class="user-title">Sign Up</h1>
      <form action="/users" method="POST" class="inputs">
        <input class="username" type="text" name="username" placeholder="Username"  required/>
        <input class="password" type="password" name="password" placeholder="Password"/>
        <input type="submit" value="Create A New Account" class="submit">
      </form>
      </div>
    </div>
    <!-- ==========FOOTER========== -->
      <%- include ('../partials/footer.ejs') %>
    <!-- ========================== -->
  </body>
</html>
