<!DOCTYPE html>
<html>
  <!-- ===========HEAD============= -->
    <%- include ('../partials/head.ejs') %>
  <!-- ============================ -->
    <body>
      <!-- ==========NAV========== -->
        <%- include ('../partials/nav.ejs') %>
      <!-- ========================== -->
      <!-- ==========HEADER========== -->
        <%- include ('../partials/header.ejs') %>
      <!-- ========================== -->
      <div class="container">
        <div class="elements-2">
          <div class="show">
              <div class="slide">
                <img src="https://i.imgur.com/X6DSe4r.jpg" alt="sticker" class="sticker">
              </div>
          </div>
          <div class="show-description">
            <h2 class="desc">2l4c Sticker</h2>
            <h2 class="price">$8</h2>
            <div class="line-show"></div>
            <ul class="item-specs">
              <li class="spec">Size 4"</li>
              <li class="spec">Made in the USA - Printed in Florida.</li>
            </ul>
            <h4 class="size">Quantity: 0</h4>
            <h4 class="oos">Out Of Stock</h4>
            <button type="button" name="button" class="buy-btn"><span>Add to Cart</span></button>
          </div>
        </div>
      </div>
      <!-- ==========FOOTER========== -->
        <%- include ('../partials/footer.ejs') %>
      <!-- ========================== -->
    </body>
</html>
